section.home .sectionTitle {
    text-transform: uppercase;
}

.viewMore {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: 0.3s;
}

.viewMore:hover {
    color: var(--second);
}

/* Media queries */
@media screen and (max-width: 588px) {
    section.home .sectionTitle {
        font-size: 20px;
    }
    .viewMore {
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 480px) {
   
}