.shopBagItem {
    margin-bottom: 20px;
}

.shopBagItem tr {
    margin-bottom: 20px !important;
}

.shopBagItem td,
.shopBagItem th {
    background: transparent;
    color: #ffffff;
    font-size: 1.2rem;
}

.shopBagItem a {
    color: #ffffff;
    font-size: 1.6rem;
}

.shopBagItem img {
    width: 120px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


@media screen and (max-width: 580px) {
    .shopBagItem a {
        font-size: 1rem;
    }
    .shopBagItem td, .shopBagItem th {
    
        font-size: 0.9rem;
    }
    .itemCount {
        font-size: 1rem;
    }
}
@media (orientation: landscape) and (max-height: 750px) {
    .shopBagItem td, .shopBagItem th {
        font-size: 1rem;
    }
    .shopBagItem a {
        font-size: 1.3rem;
    }
}